
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body,
body form {font-family:'본고딕', 'notosanscjkkr', 'sans-serif';font-size: 16px;}
a {text-decoration: none;}
header {position: fixed;top: 0;padding: 20px 0 20px 0;width: 100%;background-color: #fff;}
footer {position: fixed;bottom: 0;padding: 16px 0 21px 0;width: 100%;background-color: #fff;}

/* select class  */
.f-thin {font-weight: 100;}
.f-l1ight {font-weight: 200;}
.f-demi {font-weight: 300;}
.f-regu {font-weight: 400;}
.f-medium {font-weight: 500;}
.f-bold {font-weight: 700;}
.f-black {font-weight: 900;}

.left-menu {position: absolute;top: 25px;left: 20px;}
.search {position: absolute;top: 21px;right: 20px;}

.left-menu li a, 
.left-menu li .i-menu,
.search a,
.search .i-serach {display: block;font-size: 0;}

.left-menu li .i-menu  {
							background: url('../../common/images/icon-main.png') no-repeat -212px -1px;
							background-size: 271px 45px;
							width: 25px;
							height: 23px;
						}
.search .i-serach  {
							background: url('../../common/images/icon-main.png') no-repeat -242px -2px;
							background-size: 271px 45px;
							width: 27px;
							height: 29px;
						}						

.f-nav li {float: left;width: 20%;text-align: center;}
.f-nav li a {font-size: 0.831em;color: #232323;}

.f-nav li a, 
.f-nav li a span {display: block}

.f-nav .menu1 {
	background: url('../../common/images/icon-main.png') no-repeat -3px -3px;
	background-size: 271px 45px;
	width: 41px;
	height: 50px;	
}
.f-nav .menu2 {
	background: url('../../common/images/icon-main.png') no-repeat -48px -3px;
	background-size: 271px 45px;
	width: 45px;
	height: 50px;		
}
.f-nav .menu3 {
	background: url('../../common/images/icon-main.png') no-repeat -98px -1px;
	background-size: 271px 45px;
	width: 32px;
	height: 50px;		
}
.f-nav .menu4 {
	background: url('../../common/images/icon-main.png') no-repeat -135px -1px;
	background-size: 271px 45px;
	width: 39px;
	height: 50px;		
}
.f-nav .menu5 {
	background: url('../../common/images/icon-main.png') no-repeat -179px -1px;
	background-size: 271px 45px;
	width: 28px;
	height: 50px;		
}


.f-nav .menu1,
.f-nav .menu2,
.f-nav .menu3,
.f-nav .menu4,
.f-nav .menu5 {margin: 0 auto;}

